:root   {
    /*Theme color*/
    --main-style-element-color: rgb(255, 165, 0);
}

*       {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    font-family: 'Core Sans G', Arial, sans-serif;
    background-color: #28292d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #33312F;
    background-image: url("/src/assets/Foodie_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(60%);
    border: 1px solid var(--main-style-element-color);
    margin: 10px;
}

.outer-container    {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: start;
    width: 600px;
    height: 100%;
    background: transparent;
    border-radius: 3px;
    margin-top: 100px;
    margin-right: 50%;
    margin-bottom: 80px;
}

img {
    width: 85px;
    height: 85px;
    box-shadow: 10px 10px 10px rgba(77, 79, 79, 0.4);
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid var(--main-style-element-color);
}

.inner-container    {
    padding: 20px;
    border-radius: 5px 5px;
    width: 450px;
    height: 800px;
    /*background: linear-gradient(#e7dfe8, #e7dfe8);*/
    background: linear-gradient(#1C1E20, #1C1E20);
    opacity: 0.9;
    box-sizing: border-box;
    border: 1px solid rgba(77, 79, 79, 0.4);
    box-shadow: 6px 25px 30px 5px rgba(77, 79, 79, 0.2);
}

.background-icon-search {
    width: 250px;
    height: 250px;
}

h1  {
    border: 1px solid white;
    border-right: 1px solid #1C1E20;
    border-left: 1px solid #1C1E20;
    border-bottom: 1px solid #1C1E20;
    width: 410px;
    position: absolute;
    color: #efebce;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: lighter;
    margin-top: -20px;
}
